body{
	margin:0;
	padding:0;
	background-color: #C0C0C0;
}

.container{
	width: 60%;
	margin: 2% auto;
	
}

.input-wrap{
	background-color: black;
	width: 100%;
	height:  150px;
	text-align: center;
	padding-top: 50px;


}
.row{
	display: flex;
	flex-direction: row;

}


.centered-row{
	width:  80%;
	margin:  0 auto;
	
}

.title-input{
	width: 100%;
	padding: 5px;
	outline: none;
	border: none;
	font-size: 22px;
}

.add-button{
	width:  20%;
	background-color: #D9D9D9;
}

.title{
	color: white;
}

button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	font-size: 22px;

}

.task-row{
	background-color: white;
	margin-bottom:  2px;
	padding:  20px;
	inline-size:  96.1%;
	over-wrap:  break-word;
	font-size: 25px;

}

.complete{
	background-color: #327da8;
	text-decoration:  line-through;
}